body.dark {
  color: #F0F1F1;
  background: #4A4D4E;
}
#mainsection{
    margin: 10px;
}
.leaflet-container{
	position: absolute;
	top:70px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
li > button{
	width: 100%;
}
.topcoat-navigation-bar__item > button{
	margin-top: 10px;
}
div.overmap{
	margin-left: 60px;
}
div.overmap > button{
	z-index: 100;
}
.leaflet-popup-content{
	color:#000000;
}
#takenPicture{
	width: 100%;
	margin-top: 20px;
	background-color: #CCC;
}
a{
	color:#F0F1F1;
	text-decoration: none;
}