body.dark {
  color: #F0F1F1;
  background: #4A4D4E;
}
#mainsection{
    margin: 10px;
}
#app .leaflet-container{
	position: absolute;
	bottom: 100px;
	left: 0;
	width: 100%;
	top: 0;
	z-index: 0;
}
#app.open .leaflet-container{
	top: 216px;
}
input.topcoat-text-input, input.topcoat-search-input{
	width: 100%;
}
li > button{
	width: 100%;
}
.topcoat-navigation-bar__item > button{
	margin-top: 10px;
}
div.overmap{
	margin-left: 60px;
	z-index: 100;
	position: absolute;
	right: 15px;
	top: 10px;
}
div.overmap i{
	color: #000;
	font-size: 2em;
}
div.overmap i:hover{
	cursor: pointer;
}
div.undermap{
	width: 100%;
	z-index: 100;
	position: absolute;	
	bottom: 0;
}

div.undermap .topcoat-navigation-bar{
	height: 100px;
	padding: 0;
	margin: 0;
	overflow: scroll;
}
div.undermap ul{
	margin: 0;
	padding: 0;
	width: 800px;

}
div.undermap ul > li{
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	font-size: 5em;
	padding-left: 30px;
}
#report-button{
	width: 60%;
}
.leaflet-popup-content{
	color:#000000;
}
#takenPicture{
	width: 100%;
	margin-top: 20px;
	background-color: #CCC;
}
.dark a{
	color:#F0F1F1;
	text-decoration: none;
}
#prototype-button{
	width: 100%;
}
.light a{
	color:#222222;
	text-decoration: none;
}

#overall{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(30,30,30,0.7);
	z-index: 1000;
}
#overall>div{
	margin-top: 100px;
}
#overall div.right{
	float: right;
}