doctype 5
html
	head
		title Report a Moose Backend
		link(rel="stylesheet", type="text/css", href="/bower_components/bootstrap-css/css/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")		
	body
		.container
			.row
				.col-md-3
				.col-md-6.well
					h1 Report a Moose
					p This is a Boilerplate for a upcoming application called Report a Moose
				.col-md-3