<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" href="/bower_components/bootstrap-css/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6 well">
				<h1><%= title %></h1>
				<p>This is a Boilerplate for a upcoming application called Report a Moose</p>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
	
</body>
</html>