<div id="menu" ng-class="{'open': menuOpen}">
	<ul class="topcoat-list__container navigation">
		<li class="topcoat-list__item" ng-click="settings()">
			<i class="icon-gear"></i>
			&nbsp;Asetukset
		</li>
		<li class="topcoat-list__item" ng-show="draftAvailable()">
			<span ng-click="reportDraft()">
				<i class="icon-edit"></i>
				&nbsp;Ilmoita viimeisin luonnos
			</span>
			<span ng-click="removeDraft()" id="removeDraft">
				<i class="icon-remove"></i>
			</span>
		</li>
		<li class="topcoat-list__item">
			<form ng-submit="lookUp(address)">
				<input type="text" ng-model="address" placeholder=" Etsi osoite ..." class="topcoat-search-input">
			</form>
		</li>
		<li class="topcoat-list__item version">
			Report a Moose Prototype 0.2.1
		</li>
	</ul>
</div>



<div id="app" ng-class="{'open': menuOpen}">
	<div class="undermap"> 
		<div id="reportButtonWrapper" >
			<button class="topcoat-button--cta" id="reportButton" ng-click="reportNow()" ng-show="showReportButton">
				<i class="icon-warning-sign"></i>
				Ilmoita
			</button>
		</div>
		<div>
			<div id="markerHider" ng-show="showSearchPositionDialog">
				Etsitään osoitetta ...
			</div>
			<ul>
				<li ng-repeat="marker in issueMarkers"  data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{animate:true}">
					<img src="{{marker.icon}}" alt="" ng-click="setIssue(marker)" width="40">
				</li>
			</ul>
		</div>
	</div>
	<div id="findlocation" ng-click="findCurrentLocation()">
		<i class="icon-location-arrow"></i>
	</div>
	<leaflet center="center" markers="markers" defaults="defaults" control="control" event-broadcast="events"></leaflet>	
</div>
<div id="overall" ng-class="{'open': menuOpen}"></div>

<div class="overmap" ng-class="{'open':menuOpen}" >
	<i ng-class="{'icon-angle-up': menuOpen,'icon-reorder':!menuOpen}" ng-click="toggleMenu()" id=""></i>
</div>

<div id="thanksmessage" ng-show="showThankMessage">
	<p>Ilmoittamasi vika tai puute on nyt lähetetty eteenpäin.<br/> Kiitos avustasi! </p>
	<button class="topcoat-button--cta" ng-click="showThankMessage = false">OK</button>
</div>

<div id="requestdetail" ng-show="showRequestDetail">
	<h3>{{clickedMarker.raw.service_name}}</h3>
	<p>{{clickedMarker.raw.timestamp | timestampToTime}}</p>
	<p>{{clickedMarker.raw.description}}</p>

	<p><img src="{{clickedMarker.raw.media_url}}" alt="" width="300"></p>
	<button class="topcoat-button--cta" ng-click="showRequestDetail = false">OK</button>
</div>