<div id="menu" ng-class="{'open': menuOpen}">
	<ul class="topcoat-list__container">
		<li class="topcoat-list__item">
			Settings
		</li>
		<li class="topcoat-list__item">
			Drafts
		</li>
		<li class="topcoat-list__item">
			<form ng-submit="lookUp(address)">
				<input type="text" ng-model="address" placeholder=" Address ..." class="topcoat-search-input">
			</form>
		</li>
	</ul>
</div>

<div id="app" ng-class="{'open': menuOpen}">
	<div class="undermap"> 
		<div id="reportButtonWrapper">
			<button class="topcoat-button--cta" id="reportButton" ng-click="reportNow()" ng-show="showReportButton">
				<i class="icon-warning-sign"></i>
				Report
			</button>
		</div>
		<div> 
			<ul>
				<li ng-repeat="marker in issueMarkers">
					<img src="{{marker.icon}}" alt="" ng-click="setIssue(marker)" width="40">
				</li>
			</ul>
		</div>
	</div>
	<leaflet center="center" markers="markers" defaults="defaults" control="control" event-broadcast="events"></leaflet>	
</div>
<div id="overall" ng-class="{'open': menuOpen}"></div>

<div class="overmap" ng-class="{'open':menuOpen}">
	<i ng-class="{'icon-angle-up': menuOpen,'icon-reorder':!menuOpen}" ng-click="toggleMenu()" id=""></i>
</div>

