<section id="mainsection">
	<h1>Report a Moose</h1>
	<div class="topcoat-list">
		<h3 class="topcoat-list__header">Proof of Concepts</h3>
		<ul class="topcoat-list__container">
			<li class="topcoat-list__item">
				✓ <a href="#/map">Map View Proof of Concept</a>
			</li>
			<li class="topcoat-list__item">
				<a href="#/position">Position Proof of Concept</a>
			</li>
			<li class="topcoat-list__item">
				<a href="#/picture">Picture Proof of Concept</a>
			</li>
		</ul>
	</div>
	<div>&nbsp;</div>
	<button class="topcoat-button--cta" >Next Step</button>
</section>