<div class="topcoat-navigation-bar">
	<div class="topcoat-navigation-bar__item center full">
		<h1 class="topcoat-navigation-bar__title">Report a Moose</h1>
	</div>
</div>
<section id="mainsection" class="component">

	

	<div class="topcoat-list">
		<h3 class="topcoat-list__header">Proof of Concepts</h3>
		<ul class="topcoat-list__container">
			<li class="topcoat-list__item">
				<button class="topcoat-button">✓ <a href="#/map">Map View Proof of Concept</a></button>
			</li>
			<li class="topcoat-list__item">
				<button class="topcoat-button">✓ <a href="#/position">Position Proof of Concept</a></button>
			</li>
			<li class="topcoat-list__item">
				<button class="topcoat-button">✓ <a href="#/picture">Picture Proof of Concept</a></button>
			</li>
		</ul>
	</div>
</section>