<div class="topcoat-navigation-bar">
	<div class="topcoat-navigation-bar__item left quarter">
		<button class="topcoat-button" ng-click="back()" id="backbutton"><i class="icon-chevron-left"></i></button>
	</div>
	<div class="topcoat-navigation-bar__item center">
		<h1 class="topcoat-navigation-bar__title">Ilmoita</h1>
	</div>
</div>

<section id="report" class="component">
	<leaflet center="center" markers="markers" defaults="defaults"></leaflet>	

	<div class="wrapper">
		<div id="reportCategory">
			<img src="{{position.iconUrl}}" alt="">
			<select class="topcoat-button" ng-model="selectedService" ng-options="item.service_name for item in serviceListOfSameGroup">
				<option value="">tarkenna ...</option>
			</select>
			
		</div>
		<input type="text" class="topcoat-text-input" ng-model="requestDescription" placeholder="Vian tai puutteen kuvaus ..." value=""> <br><br>
		<div class="picture">
			<button class="picture topcoat-button" ng-click="showPhotoInfo = true">
				<i class="icon-picture"></i>
				Ota kuva
			</button>
			<img src="http://www.op-marburg.de/var/storage/images/op/lokales/wirtschaft/wirtschaft-lokal/schlagloecher-ziehen-vor-allem-stossdaempfer-in-mitleidenschaft/10969177-1-ger-DE/Schlagloecher-ziehen-vor-allem-Stossdaempfer-in-Mitleidenschaft_ArtikelQuer.jpg" alt="" height="50" ng-show="showPhotoInfo">
		</div><br>
		<label class="topcoat-checkbox">
			<input type="checkbox">
			<div class="topcoat-checkbox__checkmark"></div>
			&nbsp;Haluan, että minuun otetaan yhteyttä
		</label><br><br>
		<button class="topcoat-button--cta" ng-click="send()" id="sendReportButton" ng-disabled="!selectedService">
			<i class="icon-share"></i>
			Ilmoita 
		</button>
		<button class="topcoat-button" ng-click="save()" id="saveReportButton">
			<i class="icon-draft"></i>
			Tallenna luonnos
		</button>
	</div>
</section>