<div class="topcoat-navigation-bar">
	<div class="topcoat-navigation-bar__item left quarter">
		<button class="topcoat-button" ng-click="back()"><i class="icon-chevron-sign-left"></i></button>
	</div>
	<div class="topcoat-navigation-bar__item center">
		<h1 class="topcoat-navigation-bar__title">Report an Issue</h1>
	</div>
</div>
<section id="mainsection" class="component">

	

	<div class="topcoat-list">
		<h3 class="topcoat-list__header">Type of Issue</h3>
		<ul class="topcoat-list__container">
			<li class="topcoat-list__item">
				<label class="topcoat-radio-button">
					<input type="radio" name="topcoat" checked>
					<div class="topcoat-radio-button__checkmark"></div>
					Moose on the road
				</label>
			</li>
			<li class="topcoat-list__item">
				<label class="topcoat-radio-button">
					<input type="radio" name="topcoat">
					<div class="topcoat-radio-button__checkmark"></div>
					Pothole in asphalt
				</label>
			</li>
			<li class="topcoat-list__item">
				<label class="topcoat-radio-button">
					<input type="radio" name="topcoat">
					<div class="topcoat-radio-button__checkmark"></div>
					...
				</label>
			</li>
		</ul>
	</div><br><br>
	<button class="topcoat-button--cta" ng-click="detail()">Next</button>
</section>