<div class="topcoat-navigation-bar">
	<div class="topcoat-navigation-bar__item left quarter">
		<button class="topcoat-button" ng-click="back()"><i class="icon-chevron-sign-left"></i></button>
	</div>
	<div class="topcoat-navigation-bar__item center">
		<h1 class="topcoat-navigation-bar__title">Report an Issue</h1>
	</div>
</div>

<section id="report" class="component">
	<leaflet center="center" markers="markers" defaults="defaults"></leaflet>	

	<div class="wrapper">
		<div id="reportCategory">
			<img src="{{position.iconUrl}}" alt="">
			<select class="topcoat-button" ng-model="selectedService" ng-options="item.service_name for item in serviceListOfSameGroup">
				<option value="">specify ...</option>
			</select>
			
		</div>
		<input type="text" class="topcoat-text-input" ng-model="requestDescription" placeholder="Description ..." value=""> <br><br>
		<div class="picture">
			<button class="picture topcoat-button" ng-click="showPhotoInfo = true">
				<i class="icon-picture"></i>
				Photo
			</button>
			<span ng-show="showPhotoInfo">&nbsp;Photo dialogue on Phone ...</span>
		</div><br>
		<label class="topcoat-checkbox">
			<input type="checkbox">
			<div class="topcoat-checkbox__checkmark"></div>
			&nbsp;Get Feedback about Report
		</label><br><br>
		<button class="topcoat-button--cta" ng-click="send()" id="sendReportButton">
			<i class="icon-share"></i>
			Report Now
		</button>
		<button class="topcoat-button" ng-click="save()" id="saveReportButton">
			<i class="icon-draft"></i>
			Save Draft
		</button>
	</div>
</section>