<div class="topcoat-navigation-bar">
	<div class="topcoat-navigation-bar__item left quarter">
		<button class="topcoat-button" ng-click="back()" id="backbutton"><i class="icon-chevron-left"></i></button>
	</div>
	<div class="topcoat-navigation-bar__item center">
		<h1 class="topcoat-navigation-bar__title">Asetukset</h1>
	</div>
</div>
<section id="mainsection" class="component">
	<input type="text" class="topcoat-text-input" placeholder="Nimi ..." ng-model="settings.name">
	<br><br>
	<input type="text" class="topcoat-text-input" placeholder="Sähköpostiosoite ..." ng-model="settings.mail">
	<br><br>
	<input type="text" class="topcoat-text-input" placeholder="Sijainti ..." ng-model="settings.city">
	<br><br>
	<button class="topcoat-button--cta" ng-click="save()">
		<i class="icon-save"></i>
		Tallenna
	</button>
</section>