<html ng-app="TodoApplication">
<head>
	<title>Todo App</title>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap-css/css/bootstrap.min.css">
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-resource/angular-resource.min.js"></script>
	<script type="text/javascript" src="todo.js"></script>
</head>
<body ng-controller="TodoController">

<div class="container">
	<p></p>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4 well" >
			<h3>Todo Application</h3>
			<div class="info" ng-show="todos.length == 0">No Todos found!</div>
			<ul class="list-unstyled">
				<li ng-repeat="todo in todos">
					<i class="glyphicon glyphicon-ok-sign" ng-show="todo.checked" ng-click="uncheckTodo(todo)"></i>
					<i class="glyphicon glyphicon-play-circle" ng-hide="todo.checked" ng-click="checkTodo(todo)"></i>
					{{todo.title}}
				</li>
			</ul>
			<form ng-submit="addTodo()">
				<input type="input" class="form-control" placeholder="Add Todo ..." ng-model="newTodoTitle">	
			</form>			
		</div>
		<div class="col-md-4"></div>
	</div>
</div>

</body>
</html>