
<leaflet center="center" markers="markers" defaults="defaults" control="control" event-broadcast="events"></leaflet>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			&nbsp;
		</div>
		<div class="col-md-6" id="controllpanel">
			<h4>Collaborative Civic Issue Tracker</h4>
			
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group">
					<button type="button" class="btn btn-default" ng-click="setSelectedStatus(false)" ng-class="{true:'active'}[selectedStatus == false]">
						all</button>
					<button type="button" class="btn btn-default"  ng-click="setSelectedStatus('open')" ng-class="{true:'active'}[selectedStatus == 'open']">
						<i class="glyphicon glyphicon-unchecked"></i> open </button>
					<button type="button" class="btn btn-default"  ng-click="setSelectedStatus('in process')" ng-class="{true:'active'}[selectedStatus == 'in process']">
						<i class="glyphicon glyphicon-forward"></i> in process</button>
					<button type="button" class="btn btn-default"  ng-click="setSelectedStatus('closed')" ng-class="{true:'active'}[selectedStatus == 'closed']">
						<i class="glyphicon glyphicon-check"></i> closed</button>
				</div>
				<div class="btn-group">
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							Group 
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a ng-click="setSelectedGroup(false)" >every Group</a></li>
							<li><a ng-click="setSelectedGroup(group)"  ng-repeat="group in groups">{{group}}</a></li>
						</ul>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-disabled="!selectedGroup">
							Subgroup
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a ng-click="setSelectedSubgroup(false)" >every Subgroup</a></li>
							<li><a ng-click="setSelectedSubgroup(service.service_name)"  ng-repeat="service in allServices | filter : {group : selectedGroup}">
								{{service.service_name}}
							</a></li>
						</ul>
					</div>
				</div>
			</div>
			<hr ng-show="selectedGroup">
			<h5 ng-show="selectedGroup">
				Filter by <code>{{selectedGroup}}</code> issues
				<span ng-show="selectedSubgroup">specially <code>{{selectedSubgroup}}</code></span>
			</h5>
			<div class="tooltip">
				<div class="tooltip-inner">
					Tooltip!
				</div>
				<div class="tooltip-arrow"></div>
			</div>
			<table class="table table-hover" id="requesttable">
				<tr>
					<th>&nbsp;</th>
					<th>group</th>
					<th>subgroup</th>
					<th>date</th>
				</tr>
				<tr ng-repeat="request in allRequests | filter:filterByGroups" 
					popover-placement="left" popover="{{request.timestamp | timestampToTime}} - Description: {{request.description}}" popover-text="{{request.description}}" popover-title="{{request.service.service_name}}"  popover-trigger="mouseenter">
					<td ng-click="focusRequest(request)">
						<i class="glyphicon glyphicon-record"></i>
					</td>
					<td ng-click="selectRequest(request)">
						<img src="images/svgs/{{request.service.group}}_report.svg" alt="" width="14">
						<code>{{request.service.group}}</code>
					</td>
					<td ng-click="selectRequest(request)">
						<code>
							{{request.service.service_name}}
						</code>
					</td>
					<td ng-click="selectRequest(request)">
						{{request.timestamp | timestampToDate}}
					</td>
					<td ng-click="selectRequest(request)">
						<i class="glyphicon " ng-class="{'open':'glyphicon-unchecked', 'in process':'glyphicon-forward', 'closed':'glyphicon-check'}[request.status]"></i>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
